# TP 3

## Exercice 2

## Q1: Charger le fichier de données cœur.txt sous Python

In [2]:
# importer les bibliothèques 
import pandas as pd 
import statistics
df=pd.read_table("coeur.txt",sep="\t")

## Q2: Vérifier que vous avez bien chargé le fichier

In [3]:
df1=pd.DataFrame(df)
print(df1)

     age      sexe type_douleur  pression  cholester sucre electro  taux_max  \
0     70  masculin            D       130        322     A       C       109
1     67   feminin            C       115        564     A       C       160
2     57  masculin            B       124        261     A       A       141
3     64  masculin            D       128        263     A       A       105
4     74   feminin            B       120        269     A       C       121
..   ...       ...          ...       ...        ...   ...     ...       ...
265   52  masculin            C       172        199     B       A       162
266   44  masculin            B       120        263     A       A       173
267   56   feminin            B       140        294     A       C       153
268   57  masculin            D       140        192     A       A       148
269   67  masculin            D       160        286     A       C       108

    angine  depression  pic vaisseau     coeur
0      non          24    2        D  presence
1      non          16    2        A   absence
2      non           3    1        A  presence
3      oui           2    2        B   absence
4      oui           2    1        B   absence
..     ...         ...  ...      ...       ...
265    non           5    1        A   absence
266    non           0    1        A   absence
267    non          13    2        A   absence
268    non           4    2        A   absence
269    oui          15    2        D  presence

[270 rows x 13 columns]

## Q3: Afficher le nombre d’individus et de variables.

In [4]:
print(df.shape)

(270, 13)

## Q4:les premières lignes de votre jeu de données

In [5]:
df1.head(2)

,age,sexe,type_douleur,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,70,masculin,D,130,322,A,C,109,non,24,2,D,presence
1,67,feminin,C,115,564,A,C,160,non,16,2,A,absence

## Q5:Les données contiennent-elles des valeurs manquantes ?

In [6]:
df_check=df.isnull().sum()
print(df_check)
# donc pas de données manquantes

age             0
sexe            0
type_douleur    0
pression        0
cholester       0
sucre           0
electro         0
taux_max        0
angine          0
depression      0
pic             0
vaisseau        0
coeur           0
dtype: int64

## Q6:Donner une description rapide des données quelle que soit leur nature (describe()).

In [7]:
df1.describe()

              age    pression   cholester    taux_max  depression         pic
count  270.000000  270.000000  270.000000  270.000000  270.000000  270.000000
mean    54.433333  131.344444  249.659259  149.677778   10.500000    1.585185
std      9.109067   17.861608   51.686237   23.165717   11.452098    0.614390
min     29.000000   94.000000  126.000000   71.000000    0.000000    1.000000
25%     48.000000  120.000000  213.000000  133.000000    0.000000    1.000000
50%     55.000000  130.000000  245.000000  153.500000    8.000000    2.000000
75%     61.000000  140.000000  280.000000  166.000000   16.000000    2.000000
max     77.000000  200.000000  564.000000  202.000000   62.000000    3.000000

## Q7:Visualiser l’âge des patients.

In [8]:
df1["age"]

0      70
1      67
2      57
3      64
4      74
       ..
265    52
266    44
267    56
268    57
269    67
Name: age, Length: 270, dtype: int64

## Q8:Calculer l’âge moyen des patients

In [9]:
statistics.mean(df1["age"])

54.43333333333333

## Q9:Donner le nombre de patients de chaque type de douleur.

In [10]:
grk=df1.groupby("type_douleur")
grk.count()

,age,sexe,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
type_douleur,,,,,,,,,,,,
A,20,20,20,20,20,20,20,20,20,20,20,20
B,42,42,42,42,42,42,42,42,42,42,42,42
C,79,79,79,79,79,79,79,79,79,79,79,79
D,129,129,129,129,129,129,129,129,129,129,129,129

## Q10: Donner l’âge des 3 premiers patients, puis des 4 derniers

In [11]:
print(df1["age"][1:4])
print("----------------")

print(df["age"][-4:])

1    67
2    57
3    64
Name: age, dtype: int64
----------------
266    44
267    56
268    57
269    67
Name: age, dtype: int64

## Q11:trier les données selon l’âge de manière décroissante.

In [12]:
print(df1.sort_values(by=["age"],ascending=False))

     age      sexe type_douleur  pression  cholester sucre electro  taux_max  \
199   77  masculin            D       125        304     A       C       162
73    76   feminin            C       140        197     A       B       116
4     74   feminin            B       120        269     A       C       121
255   71   feminin            B       160        302     A       A       162
15    71   feminin            D       112        149     A       A       125
..   ...       ...          ...       ...        ...   ...     ...       ...
81    35  masculin            D       120        198     A       A       130
193   35  masculin            D       126        282     A       C       156
174   34  masculin            A       118        182     A       C       174
138   34   feminin            B       118        210     A       A       192
214   29  masculin            B       130        204     A       C       202

    angine  depression  pic vaisseau     coeur
199    oui           0    1        D  presence
73     non          11    2        A   absence
4      oui           2    1        B   absence
255    non           4    1        C   absence
15     non          16    2        A   absence
..     ...         ...  ...      ...       ...
81     oui          16    2        A  presence
193    oui           0    1        A  presence
174    non           0    1        A   absence
138    non           7    1        A   absence
214    non           0    1        A   absence

[270 rows x 13 columns]

## Q12:Trier les données selon l’âge de manière croissante. Afficher les indices des 5 patients qui ont la plus grande valeur de la variable âge.

In [13]:
def3=(df1.sort_values(by=["age"]))
print(def3["age"][-5:])

15     71
255    71
4      74
73     76
199    77
Name: age, dtype: int64

# Q13:Afficher la moyenne pour toutes les valeurs numériques

In [14]:
df2=df1.select_dtypes(exclude=['object'])
df2.mean()

age            54.433333
pression      131.344444
cholester     249.659259
taux_max      149.677778
depression     10.500000
pic             1.585185
dtype: float64

## Q14:Afficher la valeur située en dernière ligne et première colonne

In [15]:
df1.iloc[-1,[0]]

age    67
Name: 269, dtype: object

## Q15:Afficher les 4 premières lignes et 2 premières colonnes.

In [16]:
df1.iloc[1:5,1:3]

       sexe type_douleur
1   feminin            C
2  masculin            B
3  masculin            D
4   feminin            B

## Q16:Afficher les 4 premières lignes mais uniquement sur les colonnes 0, 2 et 9.

In [17]:
df1.iloc[0:4,[0,2,9]]

   age type_douleur  depression
0   70            D          24
1   67            C          16
2   57            B           3
3   64            D           2

## Q17:Donner les patients présentant une douleur de type ‘A’.

In [18]:
az=df1[df1["type_douleur"]=="A"]

## Q18:Donner le nombre de patients présentant une douleur de type ‘A’.

In [19]:
az.shape[0]

20

## Q19:Donner les patients présentant une douleur de type ‘D’ ou ‘B’

In [20]:
az2=df1[(df1["type_douleur"]=="D") | (df1["type_douleur"]=="B") ]
print(az2)

     age      sexe type_douleur  pression  cholester sucre electro  taux_max  \
0     70  masculin            D       130        322     A       C       109
2     57  masculin            B       124        261     A       A       141
3     64  masculin            D       128        263     A       A       105
4     74   feminin            B       120        269     A       C       121
5     65  masculin            D       120        177     A       A       140
..   ...       ...          ...       ...        ...   ...     ...       ...
264   48  masculin            B       110        229     A       A       168
266   44  masculin            B       120        263     A       A       173
267   56   feminin            B       140        294     A       C       153
268   57  masculin            D       140        192     A       A       148
269   67  masculin            D       160        286     A       C       108

    angine  depression  pic vaisseau     coeur
0      non          24    2        D  presence
2      non           3    1        A  presence
3      oui           2    2        B   absence
4      oui           2    1        B   absence
5      non           4    1        A   absence
..     ...         ...  ...      ...       ...
264    non          10    3        A  presence
266    non           0    1        A   absence
267    non          13    2        A   absence
268    non           4    2        A   absence
269    oui          15    2        D  presence

[171 rows x 13 columns]

## Q20:Donner les patients présentant une douleur de type ‘A’ et une angine.

In [21]:
az3=df1[(df1["type_douleur"]=="A") & (df1["angine"]=="oui") ]
print(az3)

     age      sexe type_douleur  pression  cholester sucre electro  taux_max  \
18    64  masculin            A       110        211     A       C       144
19    40  masculin            A       140        199     A       A       178
143   51  masculin            A       125        213     A       C       125
160   38  masculin            A       120        231     A       A       182

    angine  depression  pic vaisseau     coeur
18     oui          18    2        A   absence
19     oui          14    1        A   absence
143    oui          14    1        B   absence
160    oui          38    2        A  presence

## Q21: Donner les hommes âgés de moins de 45 ans présentant une maladie cardiaque

In [22]:
az4=df1[(df1["sexe"]=="masculin") & (df1["age"]>45) & (df1["coeur"]=="presence") ]
print(az4)

     age      sexe type_douleur  pression  cholester sucre electro  taux_max  \
0     70  masculin            D       130        322     A       C       109
2     57  masculin            B       124        261     A       A       141
6     56  masculin            C       130        256     B       C       142
7     59  masculin            D       110        239     A       C       142
8     60  masculin            D       140        293     A       C       170
..   ...       ...          ...       ...        ...   ...     ...       ...
258   64  masculin            C       140        335     A       A       158
261   60  masculin            D       130        206     A       C       132
262   58  masculin            B       120        284     A       C       160
264   48  masculin            B       110        229     A       A       168
269   67  masculin            D       160        286     A       C       108

    angine  depression  pic vaisseau     coeur
0      non          24    2        D  presence
2      non           3    1        A  presence
6      oui           6    2        B  presence
7      oui          12    2        B  presence
8      non          12    2        C  presence
..     ...         ...  ...      ...       ...
258    non           0    1        A  presence
261    oui          24    2        C  presence
262    non          18    2        A  presence
264    non          10    3        A  presence
269    oui          15    2        D  presence

[88 rows x 13 columns]

## Q22:Question précédente en limitant la réponse aux colonnes âge, sexe, cœur et tauxmax.

In [23]:
mycolone=['age','sexe',"taux_max","coeur"]
ma=df1[mycolone]
az4=ma[(ma["sexe"]=="masculin") & (ma["age"]>45) & (ma["coeur"]=="presence") ]
print(az4)

     age      sexe  taux_max     coeur
0     70  masculin       109  presence
2     57  masculin       141  presence
6     56  masculin       142  presence
7     59  masculin       142  presence
8     60  masculin       170  presence
..   ...       ...       ...       ...
258   64  masculin       158  presence
261   60  masculin       132  presence
262   58  masculin       160  presence
264   48  masculin       168  presence
269   67  masculin       108  presence

[88 rows x 4 columns]

## Q23: Croiser les variables sexe et cœur afin d’obtenir les fréquences

In [24]:
pd.crosstab(df1.sexe,df1.coeur)

coeur     absence  presence
sexe
feminin        67        20
masculin       83       100

## Q24

In [25]:
print(pd.crosstab(df1['sexe'],df1['coeur'],values=df1['age'],aggfunc=pd.Series.mean))

coeur       absence  presence
sexe
feminin   54.582090     59.35
masculin  51.192771     56.04

## Q25:Donner le nombre d’hommes.

In [26]:
df3=df1[df1["sexe"]=="masculin"]
df3['sexe'].value_counts()

masculin    183
Name: sexe, dtype: int64

## Q26:  Afficher pour chaque groupe (homme, femme), l’âge moyen

In [11]:
arz=["age","sexe"]
op=df1[arz]
op.groupby("sexe").mean()